<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <title>{% block title %}Welcome!{% endblock %}</title>
      {% block stylesheets %}{% endblock %}
    </head>
    <body>
      <nav>
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/note/listAll/">Liste des notes</a></li>
          <li><a href="/note/add/">Ajouter une note</a></li>
        </ul>
      </nav>
      <h1>{% block titlePage %}{% endblock %}</h1>
      <div>{% block body %}{% endblock %}</div>
      {% block javascripts %}{% endblock %}
    </body>
</html>
