<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <title>{% block title %}Welcome!{% endblock %}</title>
      {% block stylesheets %}<link rel="stylesheet" href="/css/stylesheet.css">{% endblock %}
    </head>
    <body>
      <div class="header">
        <h1>OPTINOTE</h1>
        <p>Bienvenue sur Optinote, l'application pour gérer vos notes !</p>
      </div>
      <h2>{% block titlePage %}{% endblock %}</h2>
      <div>{% block body %}{% endblock %}</div>
      <div class="footer"></div>
      {% block javascripts %}{% endblock %}
    </body>
</html>
