{# templates/home.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur OptiNote !{% endblock %}

{% block titlePage %}Bienvenue sur OptiNote !{% endblock %}

{% block body %}
  <a href="/note/listAll">Voir la liste des notes</a>
  <a href="/note/add">Ajouter une nouvelle note</a>
{% endblock %}
